@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-background {
  background-color: #ffffff;
  background-image:
    linear-gradient(#dce5ec 1px, transparent 1px),
    linear-gradient(90deg, #dce5ec 1px, transparent 1px);
  background-size: 40px 40px;
}